{% extends "hospitation_manager/layout.html" %}
{% load static %}

{% block title %} <title>Menedżer hospitacji</title> {% endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'hospitation_manager/styles/data_table.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="data-section-container">
    <div class="data-section-header white-text grey darken-3 valign-wrapper z-depth-3">
        <h5>Odwołania od protokołów pohospitacyjnych</h5>
    </div>
    <div class="data-section-body">
        <table>
            <thead>
                <tr>
                    <th>Nr. </th>
                    <th>Składający odwołanie</th>
                    <th>Data wystawienia</th>
                    <th>Status</th>
                    <th class="center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for appeal in appeals %}
                <tr>
                    <td>{{ appeal.id }}</td>
                    <td>{{ appeal.issuer }}</td>
                    <td>{{ appeal.created_at }}</td>
                    <td>{{ appeal.status }}</td>
                    <td class="center" style="width: 200px"><a class="waves-effect waves-light btn blue" href="details/{{ appeal.id }}"><i class="material-icons right">assignment</i>Szczegóły</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


