{% extends "hospitation_manager/layout.html" %}
{% load static %}

{% block title %} <title>Menedżer hospitacji</title> {% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'hospitation_manager/styles/data_table.css' %}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<style>
    .btn {
        width: 50%;
        border-radius: 50px;
        margin:2px;
      }
</style>
{% endblock styles %}

{% block content %}
<script>
    var teacherId = null;
    var teacherName = null;
    document.addEventListener('DOMContentLoaded', function() {
      var elems2 = document.querySelectorAll('select');
      var instances2 = M.FormSelect.init(elems2, {});
      var elems3 = document.querySelectorAll('.datepicker');
      var instances3 = M.Datepicker.init(elems3, {});
        {% if message != ""%}
            M.toast({html: '<h3>{{ message }}</h3>', classes: 'rounded {{messageColor}} large', inDuration: 1000, displayLength:2000})
        {% endif %}
        function showModal(name) {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems, {});
          }

        document.querySelectorAll('.modal-trigger').forEach(function(button) {
            button.addEventListener('click', function(event) {
              teacherId = this.getAttribute('data-id');
              teacherName = this.getAttribute('data-name');
              document.querySelector('#modal1 .modal-content p').innerHTML = 'Czy na pewno chcesz odwołać "' + teacherName + '"?';
              document.querySelector('#form_id').value = teacherId;
              showModal(teacherName);
            });
          });
      });
</script>

<div id="modal1" class="modal">
    <div class="modal-content">
      
      <h4>Dodawanie hospitacji</h4>
      <p>Null</p>
    </div>
    <div class="modal-footer">
      <form method="post">
          <input type="hidden" name="id" id="form_id" value=""/>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Anuluj</a>
          <button id="action_confirm" class="modal-close waves-effect waves-green btn-flat" type="submit">Odwołaj</button>
      </form>
    </div>
</div>

<div class="data-section-container">
    <div class="data-section-header white-text grey darken-3 valign-wrapper z-depth-3">
        <div class="valign-wrapper">
            <h5>Planowane hospitacje</h5>
            <a href="/hospitation_planning/" class="waves-effect waves-light btn-large blue right" style = "margin-left:80px"><i class="material-icons left">arrow_back</i>Powrót</a>
        </div>

    </div>
    <div class="data-section-body">
      <form method="post">
      <div class="input-field col s12">
        <select name="hospitation_team">
          <option value="0" selected>Wybierz zespół (opcjonalnie)</option>
          {% for hospitation_team in hospitation_teams %}
          <option value="{{hospitation_team.number}}">nr. {{hospitation_team.number}}: {{hospitation_team.academic_teacher1}} | {{hospitation_team.academic_teacher2}}</option>
          {%endfor%}
        </select>
        <label><h6>Wybierz zespół:</h6></label>
      </div>

      <div class="input-field col s12">
        <select name="class">
          <option value="" disabled selected>Wybierz zajęcia</option>
          {% for class in classes %}
          <option value="{{class.code}}">{{class.code}}: {{class.teacher.academic_title}} {{class.teacher.first_name}} {{class.teacher.last_name}} | {{class.name}}</option>
          {%endfor%}
        </select>
        <label><h6>Wybierz zajęcia:</h6></label>
      </div>
      

      <div class="input-field col s12">
        <input type="text" class="datepicker">
        <label for="date">Wybierz datę hospitacji (opcjonalnie):</label>
      </div>

    </form>
    </div>
</div>
{% endblock %}
