header,
main,
footer,
nav {
    padding-left: 300px;
}

nav {
    padding-right: 20px;
}

.logo-container,
.logo-container .brand-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 5%
}

.custom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.logo-container .brand-logo * {
    max-width: 80%;
}

.sidenav>li>a {
    font-size: 1.1rem;
}